extends layout.pug

block content
  main.articles-category
    h1 Бизнес
    section.articles-category__theme-list
      h2.visually-hidden Список тем
      ul.themes
        each category in categories
          li.themes__item
            a.themes__item-link(href='#')
              #{category.name}
              sup #{category.count}
